**/node_modules
**/.nango
dist/
build/
coverage/
bin/
tests/
models.ts
vite.config.ts
vitest.setup.ts
globals.d.ts
integrations/linkedin/proxy/video-upload.ts
integrations/*-sandbox
integrations/*-pat
integrations/*-preview
integrations/github-app-oauth
integrations/gong-oauth
integrations/gorgias-basic
integrations/*-demo
integrations/lever-basic
integrations/greenhouse
integrations/bamboo
internal/scripts
