{
    "root": true,
    "plugins": [
        "@nangohq/eslint-plugin-custom-integrations-linting"
    ],
    "extends": [
        "@nangohq/eslint-config/base"
    ],
    "rules": {
        "@nangohq/custom-integrations-linting/no-console-log": "error",
        "@nangohq/custom-integrations-linting/no-object-casting": "warn",
        "@nangohq/custom-integrations-linting/no-value-modification": "warn",
        "@nangohq/custom-integrations-linting/no-while-true": "warn",
        "@nangohq/custom-integrations-linting/proxy-call-retries": "error",
        //"@nangohq/custom-integrations-linting/type-external-api-responses": "warn",
        "@nangohq/custom-integrations-linting/enforce-proxy-configuration-type": "error",
    }
}
