node_modules/*
.DS_Store
.idea/*
.env
tsconfig.tsbuildinfo
node_modules
integrations/models.ts
integrations/**/nango-integrations
.vscode/
tmp-run-integration-template
build/
dist/
integrations/.nango
